.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  max-height: 100%;
  max-width: 100%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.react-player > div {
  max-height: 93vh;
}
